/* Adjust filter div to full size of page */
div#DialogDiv {
    left: 0px !important;
    top: auto !important;
    bottom: 0px !important;
    opacity: 1 !important;
    background-color: #fff !important;
    width: 200px !important;
    z-index: 10000 !important;
    height: 270px !important;
    border: 2px solid #000 !important;
    border-width: 2px 2px 0px 0px !important;
}

/* Replace and reposition filter div close button */
div#DialogCloseDiv{
    position: absolute;
    height: 21px !important;
    width: 21px !important;
    right: 10px !important;
    top: 10px !important;
    background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2221%22%20height%3D%2221%22%20version%3D%221.2%22%20baseProfile%3D%22tiny%22%20viewBox%3D%220%200%2021%2021%22%3E%3Cpath%20d%3D%22M11.7%2010.5M9.3%2010.5%22%2F%3E%3Cpath%20d%3D%22M10.5%2011.8l9.1%209c.4.3.9.3%201.1%200l.1-.1c.3-.4.3-.9%200-1.1l-9.1-9.1%209.1-9c.3-.4.3-.9%200-1.1l-.1-.1c-.4-.3-.9-.3-1.1%200l-9.1%209.1L1.4.3C1.1%200%20.6%200%20.3.3H.2c-.3.3-.3.8%200%201.1l9.1%209-9.1%209.1c-.3.3-.3.8%200%201.1l.1.1c.3.3.8.3%201.1%200%200%20.1%209.1-8.9%209.1-8.9z%22%2F%3E%3C%2Fsvg%3E") no-repeat !important;
    cursor: pointer;
}

div#DialogContentDiv{
    width: 180px !important;
    padding: 10px 0px 0px 10px!important;
    overflow: hidden !important;
}

/* Style filter buttons */
div#DialogContentDiv div div button {
    background-color: #222 !important;
    padding: 5px !important;
    margin-top: 5px !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important;
}
div#DialogContentDiv div div button:hover,
div#DialogContentDiv div div button:focus{
    background-color: #41dc5d !important;
    color: #000 !important;
    border: none !important;
}