/*  STYLE ALL ZOOM AND HOME BUTTONS  */
.olButton{
    left: -14px !important;
    width: 50px !important;
    height: 50px !important;
    background-color: #222 !important;
    background-repeat: no-repeat;
    background-position: 7px 7px !important;
    transition: background-color 0.2s ease;
}
.olButton:hover{
    cursor: pointer !important;
    background-color: #41dc5d !important;
    color: #222 !important;
    transition: background-color 0.1s ease;
}

/* ZOOM IN */
.olControlZoomInItemInactive{
    top: -71px !important;
    background-image: url("img/ic_add_white_18dp_2x.png") !important;
}
.olControlZoomInItemInactive:hover{
    background-image: url("img/ic_add_black_18dp_2x.png") !important;
}

/* ZOOM OUT */
.olControlZoomOutItemInactive{
    top: -21px !important;
    background-image: url("img/ic_remove_white_18dp_2x.png") !important;
}
.olControlZoomOutItemInactive:hover{
    background-image: url("img/ic_remove_black_18dp_2x.png") !important;
}

/* HOME BUTTON */
.olControlZoomToMaxExtentItemInactive{
    top: 29px !important;
    background-image: url("img/ic_home_white_18dp_2x.png") !important;
}
.olControlZoomToMaxExtentItemInactive:hover{
    background-image: url("img/ic_home_black_18dp_2x.png") !important;
}
